.t-year-picker {
  display: inline-block;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  line-height: 1;
  font-size: 0;
  background-color: #ffffff;
  cursor: pointer;

  &:hover {
    border-color: #c0c4cc;
  }

  &.focus {
    border-color: #409eff;
  }

  .picker-split {
    margin-right: 10px;
    font-size: 12px;
  }

  .el-input {
    &__inner {
      border: none;
      text-align: center;
      background-color: transparent;
    }
  }

  .t-date-picker {
    margin-top: -1px;
    margin-bottom: -1px;

    ~ .t-date-picker {
      .el-input {
        &__inner {
          padding-left: 0;
        }

        &__prefix {
          display: none;
        }
      }
    }

    &.date-year {
      width: 120px;
      ~ .date-year {
        width: 100px;
      }
    }
  }
}

.t-date-picker {
  &.date-year {
    .el-input {
      &__inner {
        padding-right: 10px;
        cursor: pointer;
      }
    }
  }
}
