$layout-header_height: 50px;
$layout-left_width: 300px;
$layout-left_width__hover: 300px;

.t-layout {
  position: relative;
  height: 100%;
  &-header {
    height: $layout-header_height;
    & + .t-layout-left,
    & ~ .t-layout-left {
      top: $layout-header_height;
      height: calc(100% - #{$layout-header_height});
    }
    & ~ .t-layout-body {
      height: calc(100% - #{$layout-header_height});
    }
  }
  &-left {
    position: absolute;
    top: 0;
    left: 0;
    width: $layout-left_width;
    height: 100%;
    box-sizing: border-box;
    transition: width 0.5s ease;
    & + .t-layout-body {
      width: calc(100% - #{$layout-left_width});
      margin-left: $layout-left_width;
    }
    &.hover,
    &.active {
      width: $layout-left_width__hover;

      & + .t-layout-body {
        width: calc(100% - #{$layout-left_width__hover});
        margin-left: $layout-left_width__hover;
      }
    }
  }
  &-body {
    height: 100%;
    transition: width 0.5s ease, margin-left 0.5s ease;
  }
  &-right {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-left: 1px solid $borderColor_default;
  }
}
