$menu-font-color: #000000;
$menu-font-color__active: #ffffff;
$menu-bg-color: transparent;
$menu-bg-color__active: #409eff;
$menu-shadow-color: #000000;
$menu-panel-bg-color: #eeeeee;
$menu-panel-bg-color__active: #07bb9e;

$menu-strip-color: #dfe2e2;
$menu-total-width: 50px;
$menu-total-width_active: 300px;
$menu-bg-color__bark: #0c2039;
$menu-bg-color__bark_action: #081a2c;
$menu-item-bg-color__bark_active: #000000;

// // system menu border color
// $t-menu-bColor: #174880;
// // system menu item font size
// $t-menu-fontSize: 18px;
// // system menu font color
// $t-menu-color_default: #ffffff;
// // system menu default background color
// $t-menu-bgColor: #0c2039;
// // system menu active background color
// $t-menu-bgColor_action: #081a2c;

// // total menu width
// $t-menu-totalWidth: 50px;
// // total menu active width
// $t-menu-totalWidth_active: 300px;
// // total menu item height
// $t-menu-totalItemHeight: 50px;
// // total menu item font color
// $t-menu-totalItemColor: #16477f;

// // menu item height
// $t-menu-itemHeight: 40px;
// // menu default font size
// $t-menu-fontSize_default: 16px;
// // menu item border color
// $t-menu-itemBColor: transparent;
// // menu item active font color
// $t-menu-itemColor_active: #ffffff;
// // menu item active background color
// $t-menu-itemBgColor_active: #ff5a00;

// // menu open panel font color
// $t-menu-openColor: #ffffff;

// // menu panel background color
// $t-menu-panelBgColor: #263b5a;
// // menu panel background color
// $t-menu-panelShadowColor: #000000;

// // menu font color
// $t-menu-secondaryColor: #bdc4dc;

// // menu strip font color
// $t-menu-stripColor: #dfe2e2;

// // menu header font size
// $t-menu-header-fontSize: 28px;

// // total menu total default font color
// $t-menu-total-color_default: #000000;
// // total menu total font color
// $t-menu-total-fontSize: 12px;
// // total menu total default font color
// $t-menu-total-fontSize_default: 14px;
