.tw-query {
  $height: 54px;
  &-bar {
    padding: $margin $margin 0 $margin;
    border-bottom: 1px solid $borderColor_default;
    .el-form-item {
      margin-bottom: $margin;
      &.el-form-item--mini,
      &.el-form-item--small {
        margin-bottom: $margin;
      }
    }
    & + .tw-template-body {
      height: calc(100% - #{$height});
    }
  }
  &-box {
    .el-form-item {
      margin-bottom: $margin * 2;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &-panel {
    height: calc(100% - #{$height});
    padding: $margin;
    box-sizing: border-box;
  }
}
