@import "./tabs-variable";

.tw-tabs {
  height: 100%;
  @include el-tab__default;
  &.el-tabs--border-card {
    box-sizing: border-box;
    @include el-tabs--border-card;
  }
  &-panel {
    height: 100%;
    .el-tabs {
      &__header {
        margin-bottom: 1px;
        .el-tabs {
          $width: 250px;
          &__nav-wrap.is-scrollable {
            padding-right: $width;
            &::before {
              content: "";
              position: absolute;
              top: 50%;
              right: $width - 22px;
              width: 0;
              height: 60%;
              border-right: 1px solid #eeeeee;
              transform: translateY(-50%);
            }
            .el-tabs__nav-next {
              right: $width - 20px;
            }
          }
        }
      }
    }
  }
}
